<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav th:replace="~{index.html :: header}"></nav>

<div class="wrapper">
    <h1 class="main_text">
        Restaurant-Pizza Web App
    </h1>

    <div class="login_form_wrapper">
        <form class="login_form" th:method="post" th:action="@{/process_login}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div class="login_form_div">
                <label for="username">Enter username: </label>
                <input type="text" name="username" id="username" placeholder="Username" autofocus="autofocus"/>
            </div>
            <div class="login_form_div">
                <label for="password">Enter password: </label>
                <input type="password" name="password" placeholder="Password" id="password"/>
            </div>
            <div>
                <button class="login_button" type="submit">Login</button>
            </div>
            <div class="error" th:if="${param.error}">
                Wrong name or password
            </div>
        </form>
    </div>

</body>
</html>