<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Pizza</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/restaurants">Restaurants</a>
    <a href="/pizzas">Pizzas</a>
    <a href="/users">Users</a>
</nav>

<h1>Edit Pizza:</h1>

<form class="container" th:method="POST" th:action="@{/pizzas/edit/{id}(id=${pizzaToUpdate.getId()})}" th:object="${pizzaToUpdate}">
    <div>
        <div>
            <label for="name">Enter name: </label>
            <input type="text" th:field="*{name}" id="name">
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error</div>
        </div>

        <div>
            <label for="size">Enter size: </label>
            <input type="number" th:field="*{size}" id="size">
            <div class="error" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"> Error</div>
        </div>

        <div>
            <label for="price">Enter price: </label>
            <input type="text" th:field="*{price}" id="price">
            <div class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> Error</div>
        </div>

        <div>
            <label for="keyIngredients">Enter Key Ingredients: </label>
            <input type="text" th:field="*{keyIngredients}" id="keyIngredients">
            <div class="error" th:if="${#fields.hasErrors('keyIngredients')}" th:errors="*{keyIngredients}"> Error
            </div>
        </div>

        <div>
            <label for="restaurantId">Select restaurant: </label>
            <input type="text" th:field="*{restaurant.id}" id="restaurantId">
            <div class="error" th:if="${#fields.hasErrors('restaurant')}" th:errors="*{restaurant}"> Error</div>
        </div>

    </div>

    <div class="center_button">
        <button type="submit">Update</button>
    </div>
</form>

<div class="center_button">
    <form th:action="@{/pizzas}" th:method="get">
        <div>
            <button type="submit">Back</button>
        </div>
    </form>
</div>

</body>
</html>