<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Pizza</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/restaurants">Restaurants</a>
    <a href="/pizzas">Pizzas</a>
    <a href="/users">Users</a>
</nav>

<h1>Edit Pizza:</h1>

<form class="container" th:method="PATCH" th:action="@{/pizzas/edit/{id}(id=${pizzaToUpdate.getId()})}" th:object="${pizzaToUpdate}">
    <div>
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" th:value="${pizzaToUpdate.id}" name="pizzaId">
    </div>
    <div>
        <div>
            <label for="name">Enter name: </label>
            <input type="text" th:field="*{name}" id="name">
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error</div>
        </div>

        <div>
            <label for="size">Select size: </label>
            <select th:field="*{size}">
                <option th:each="size : ${allPizzaSizes}"
                        th:field="*{size}"
                        id="size"
                        th:text="${size}"
                        th:value="${size}">
                </option>
            </select>
            <div class="error" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"> Error</div>
        </div>

        <div>
            <label for="price">Enter price: </label>
            <input type="text" th:field="*{price}" id="price">
            <div class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> Error</div>
        </div>

        <div>
            <label class="ingredients" for="ingredients">
                Select Ingredients:
                <table>
                    <tbody>
                    <tr th:each="ingredient : ${allIngredients}">
                        <td th:text="${ingredient.name}">
                        </td>
                        <td>
                            <input type="checkbox" name="ingredients" id="ingredients" th:value="${ingredient.id}"
                                   th:field="*{ingredients}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </label>
            <div class="error" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"> Error
            </div>
        </div>

        <div>
            <label for="restaurantId">Select restaurant: </label>
            <select th:field="*{restaurant}">
                <option th:each="restaurant : ${allRestaurants}"
                        th:value="${restaurant.id}"
                        th:text="${restaurant.name}"
                        id="restaurantId">
                </option>
            </select>
            <div class="error" th:if="${#fields.hasErrors('restaurant')}" th:errors="*{restaurant}"> Error</div>
        </div>

    </div>

    <div class="center_button">
        <button type="submit">Update</button>
    </div>
</form>

<div class="center_button">
    <form th:action="@{/pizzas}" th:method="get">
        <div>
            <button type="submit">Back</button>
        </div>
    </form>
</div>

</body>
</html>