<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Add new Pizza:</h2>

<form th:method="POST" th:action="@{/pizzas/new}" th:object="${pizzaToAdd}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name">
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error</div>
  <br/>

  <label for="size">Enter size: </label>
  <input type="text" th:field="*{size}" id="size">
  <div style="color:red" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"> Error</div>
  <br/>

  <label for="price">Enter price: </label>
  <input type="text" th:field="*{price}" id="price">
  <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> Error</div>
  <br/>

  <label for="keyIngredients">Enter Key Ingredients: </label>
  <input type="text" th:field="*{keyIngredients}" id="keyIngredients">
  <div style="color:red" th:if="${#fields.hasErrors('keyIngredients')}" th:errors="*{keyIngredients}"> Error</div>
  <br/>

  <label for="restaurantId">Enter restaurant: </label>
  <input type="text" th:field="*{restaurantId}" id="restaurantId">
  <div style="color:red" th:if="${#fields.hasErrors('restaurantId')}" th:errors="*{restaurantId}"> Error</div>
  <br/>

  <input type="submit" value="Create! ">
</form>

<td>
  <form th:action="@{/pizzas}" th:method="get">
    <div>
      <button type="submit">Back</button>
    </div>
  </form>
</td>

</body>
</html>