<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All restaurants</title>
</head>
<body>

<h1>All pizzas</h1>


<table>
    <thead>
    <tr>
        <th>№</th>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
        <th>Key Ingredients</th>
        <th>Restaurant</th>
    </tr>
    </thead>

    <tbody >
    <tr th:each="pizza, iter : ${pizzas}">
        <td th:text="${iter.index}+1"></td>
        <td th:text="${pizza.id}"></td>

        <span th:unless="${pizza.id==pizzaToUpdateId}">
        <td th:text="${pizza.name}"></td>
        <td th:text="${pizza.size}"></td>
        <td th:text="${pizza.price}"></td>
        <td th:text="${pizza.keyIngredients}"></td>
        <td th:text="${pizza.restaurantId}"></td>
        </span>

        <span th:if="${pizza.id==pizzaToUpdateId}">
            <form th:action="@{/pizzas/edit/{id}(id=${pizza.getId()})}" th:object="${pizzaToUpdate}" th:method="post">
                <td>
                <input type="text" th:value="${pizza.name}"  name="name">
                </td>
                <td>
                <input type="number" th:value="${pizza.size}" name="size">
                </td>
                <td>
                <input type="text" th:value="${pizza.price}" name="price">
                </td>
                <td>
                <input type="text" th:value="${pizza.keyIngredients}" name="keyIngredients">
                </td>
                <td>
                <input type="text" th:value="${pizza.restaurantId}" name="restaurantId">
                </td>
                <div>
                    <input type="hidden" th:value="${pizza.id}" name="pizzaToUpdateId">
                </div>
                <td>
                <button type="submit">Save</button>
                </td>
                </form>
        </span>

        <td th:unless="${pizza.id==pizzaToUpdateId}">
            <form th:action="@{/pizzas/edit}" th:method="post">
                <div>
                    <input type="hidden" th:value="${pizza.id}" name="pizzaToUpdateId">
                </div>
                <div>
                    <button type="submit">Edit</button>
                </div>
            </form>
        </td>
        <td>
            <form th:action="@{/pizzas/delete}" th:method="delete">
                <div>
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" th:value="${pizza.id}" name="pizzaId">
                </div>
                <div>
                    <button type="submit">Delete</button>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>

<div>
    <form th:action="@{/pizzas/new}" th:method="get">
        <div>
            <button type="submit">Add new pizza</button>
        </div>
    </form>
</div>

<div th:if="${deleted}">
    Pizza with id <span th:text="${deleted}"></span> successfully deleted
</div>
<div th:if="${added}">
    Pizza with id <span th:text="${added}"></span> successfully added
</div>
<div th:if="${updated}">
    Pizza with id <span th:text="${updated}"></span> successfully updated
</div>
<div th:if="${error}">
    <span th:text="${error}"></span>
</div>

</body>
</html>