<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All restaurants</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav th:replace="~{index.html :: header}"></nav>

<div class="wrapper">

    <div class="main_container">
        <div class="left_container">
            <div class="font_25px">Filter</div>

            <div class="filter">
                <h3 style="margin-right: 20px">Filters</h3>
                <form class="search" th:action="@{/ingredients/search}" method="get">
                    <input type="text" class="search_input" name="name" th:value="${name}"
                           placeholder="Find by name"
                           size="50">
                    <button type="submit" class="search_button">Filter</button>
                </form>
                <form class="search" th:action="@{/ingredients}" method="get">
                    <button type="submit" class="search_button">Reset</button>
                </form>
            </div>


            <div class="new" th:if="${ingredientToUpdateId != null}">
                <h2>Update the ingredient</h2>
                <form th:action="@{/ingredients/update}"
                      th:object="${ingredientToUpdate}" th:method="patch">
                    <div>
                        <input type="hidden" name="_method" value="patch">
                        <input type="hidden" th:value="${ingredientToUpdate.id}" name="ingredientToUpdateId">
                    </div>
                    <div>
                        <label>Name</label>
                        <label>
                            <input class="search_input" type="text" th:field="*{name}">
                            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error</div>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" name="vegetarian" th:checked="*{isVegetarian()}"/>
                        </label>
                        <label>Vegetarian</label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" name="spicy" th:checked="*{isSpicy()}"/>
                        </label>
                        <label>Spicy</label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" name="glutenfree" th:checked="*{isGlutenfree()}"/>
                        </label>
                        <label>Gluten Free</label>
                    </div>
                    <div>
                        <button class="admin_small_button" type="submit">Update</button>
                    </div>
                </form>
            </div>

            <div class="new" th:if="${ingredientToUpdateId == null}">
                <h2>Add new ingredient</h2>
                <form th:action="@{/ingredients}" th:object="${ingredientToAdd}" th:method="post">
                    <div>
                        <label>Name</label>
                        <label>
                            <input class="search_input" type="text" th:field="*{name}">
                            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error</div>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" name="vegetarian" th:field="*{vegetarian}" id="isVegetarian"/>
                        </label>
                        <label>Vegetarian</label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" name="spicy" th:field="*{spicy}" id="isSpicy"/>
                        </label>
                        <label>Spicy</label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" name="glutenfree" th:field="*{glutenfree}" id="isGlutenFree"/>
                        </label>
                        <label>Gluten Free</label>
                    </div>
                    <div>
                        <button class="admin_small_button" type="submit">Add</button>
                    </div>
                </form>
            </div>

            <div style="color: olivedrab" th:if="${deleted}">
                Ingredient with id <span th:text="${deleted}"></span> successfully deleted
            </div>
            <div style="color: olivedrab" th:if="${added}">
                Ingredient with id <span th:text="${added}"></span> successfully added
            </div>
            <div style="color: olivedrab" th:if="${updated}">
                Ingredient with id <span th:text="${updated}"></span> successfully updated
            </div>
            <div style="color: olivedrab" th:if="${ingredientBlocked}">
                Ingredient with id <span th:text="${ingredientBlocked}"></span> can't be deleted. First it must be
                removed from pizza(s).
            </div>
        </div>

        <div class="right_container">
            <div class="nothing-found" th:if="${filteredIngredients.isEmpty()}">No ingredients found</div>
            <table class="users_table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th>Vegetarian</th>
                    <th>Spicy</th>
                    <th>Gluten Free</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="ingredient, iter : ${filteredIngredients}">
                    <td th:text="${iter.index}+1"></td>
                    <td th:text="${ingredient.name}"></td>
                    <td>
                        <label>
                            <input type="checkbox" disabled="disabled" name="vegetarian"
                                   th:checked="${ingredient.isVegetarian()}"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="checkbox" disabled="disabled" name="spicy"
                                   th:checked="${ingredient.isSpicy()}"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="checkbox" disabled="disabled" name="glutenfree"
                                   th:checked="${ingredient.isGlutenfree()}"/>
                        </label>
                    </td>

                    <td>
                        <form th:action="@{/ingredients/update}" th:method="post">
                            <div>
                                <input type="hidden" th:value="${ingredient.id}" name="ingredientToUpdateId">
                            </div>
                            <div>
                                <button class="admin_small_button" type="submit">Edit</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/ingredients/delete}" th:method="delete">
                            <div>
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" th:value="${ingredient.id}" name="ingredientId">
                            </div>
                            <div>
                                <button class="admin_small_button" type="submit">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>