<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Restaurant</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav th:replace="~{index.html :: navigation}"></nav>

<h1>Edit Restaurant:</h1>

<form class="container" th:method="PATCH" th:action="@{/restaurants/edit/{id}(id=${restaurantToUpdate.getId()})}"
      th:object="${restaurantToUpdate}">
    <div>
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" th:value="${restaurantToUpdate.id}" name="restaurantToUpdate">
    </div>
    <div>
        <div>
            <label for="name">Enter name: </label>
            <input type="text" th:field="*{name}" id="name">
            <div class="error"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error</div>
        </div>

        <div>
            <label for="address">Enter address: </label>
            <input type="text" th:field="*{address}" id="address">
            <div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"> Error</div>
        </div>

        <div>
            <label for="phone">Enter phone: </label>
            <input type="text" th:field="*{phone}" id="phone">
            <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"> Error</div>
        </div>

    </div>
    <div class="center_button create">
        <button type="submit">Update</button>
    </div>
</form>

<div class="center_button">
    <form th:action="@{/restaurants}" th:method="get">
        <div>
            <button type="submit">Back</button>
        </div>
    </form>
</div>

</body>
</html>