<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Restaurant</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav th:replace="~{index.html :: header}"></nav>

<div class="wrapper">

    <div class="main_container">
        <div class="left_container">

            <div class="center_button">
                <form th:action="@{/restaurants}" th:method="get">
                    <div>
                        <button style="margin-top: 30px" class="new_rest_button" type="submit">Back</button>
                    </div>
                </form>
            </div>

            <div style="margin-top: 30px" class="font_25px">Add new User:</div>

            <div class="center_button">
                <form th:action="@{/users/new}" th:method="get">
                    <div>
                        <button class="new_rest_button" type="submit">New user</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="right_container">
            <form class="new_rest_form" th:method="POST" th:action="@{/restaurants/new}" th:object="${restaurantToAdd}">
                <div class="font_25px">Add new Restaurant:</div>
                <div>
                    <div>
                        <label for="name">Enter name: </label>
                        <input class="new_rest_input" type="text" th:field="*{name}" id="name">
                        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error</div>
                    </div>

                    <div>
                        <label for="city">Enter city: </label>
                        <input class="new_rest_input" type="text" th:field="*{city}" id="city">
                        <div class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"> Error</div>
                    </div>

                    <div>
                        <label for="address">Enter address: </label>
                        <input class="new_rest_input" type="text" th:field="*{address}" id="address">
                        <div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"> Error</div>
                    </div>

                    <div>
                        <label for="phone">Enter phone: </label>
                        <input class="new_rest_input" type="text" th:field="*{phone}" id="phone">
                        <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"> Error</div>
                    </div>

                    <div>
                        <label for="owner">Select restaurant owner: </label>
                        <select class="new_rest_input" th:field="*{owner}">
                            <option th:selected th:disabled value="">Select</option>
                            <option th:each="user : ${ownersList}"
                                    th:text="${user}"
                                    th:value="${user.id}" id="owner">
                            </option>
                        </select>
                        <div class="error" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"> Error</div>
                    </div>

                </div>
                <div>
                    <button class="new_rest_button" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>