<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All restaurants</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/restaurants">Restaurants</a>
    <a href="/pizzas">Pizzas</a>
    <a href="/users">Users</a>
</nav>

<h1>All restaurants</h1>


<form class="search" th:action="@{/restaurants/search}" method="get">
    <input type="text" name="address" th:value="${address}" placeholder="Find by Address" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
    <button type="submit" class="btn btn-info" >Reset</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Pizzas</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="restaurant, iter : ${filteredList}">
        <td th:text="${iter.index}+1"></td>
        <td th:text="${restaurant.name}"></td>
        <td th:text="${restaurant.address}"></td>
        <td th:text="${restaurant.phone}"></td>
        <td th:text="${restaurant.getPizzas().size()}"></td>
        <td>
            <form th:action="@{/restaurants/{id}(id=${restaurant.id})}" th:method="get">
                <div>
                    <button class="small" type="submit">View</button>
                </div>
            </form>
        </td>
        <td>
            <form th:action="@{/restaurants/edit}" th:method="get">
                <div>
                    <input type="hidden" th:value="${restaurant.id}" name="restaurantId">
                </div>
                <div>
                    <button class="small" type="submit">Edit</button>
                </div>
            </form>
        </td>
        <td>
            <form th:action="@{/restaurants/delete}" th:method="delete">
                <div>
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" th:value="${restaurant.id}" name="restaurantId">
                </div>
                <div>
                    <button class="small" type="submit">Delete</button>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class ="center_button">
    <form th:action="@{/restaurants/new}" th:method="get">
        <div>
            <button type="submit">Add new restaurant</button>
        </div>
    </form>
</div>

<div style="color: olivedrab" th:if="${deleted}">
    Restaurant with id <span th:text="${deleted}"></span> successfully deleted
</div>
<div style="color: olivedrab" th:if="${added}">
    Restaurant with id <span th:text="${added}"></span> successfully added
</div>
<div style="color: olivedrab" th:if="${updated}">
    Restaurant with id <span th:text="${updated}"></span> successfully updated
</div>

</body>
</html>