<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav th:replace="~{index.html :: header}"></nav>

<h1>
    Hello
    <span th:text="${', ' + userToShow.firstName + ' ' + userToShow.lastName}"></span>
    <span th:if="${userToShow.firstName.isEmpty() and userToShow.lastName.isEmpty()}"
          th:text="${userToShow.username}"></span>
    !
</h1>

<table class="table">
    <thead>
    <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${userToShow.username}"></td>
        <td th:text="${userToShow.firstName}"></td>
        <td th:text="${userToShow.lastName}"></td>
        <td>
            <form th:action="@{/users/edit}" th:method="post">
                <div>
                    <input type="hidden" th:value="${userToShow.id}" name="userToUpdateId">
                </div>
                <div>
                    <button type="submit">Edit user details</button>
                </div>
            </form>
            <form th:action="@{/users/edit/p}" th:method="post">
                <div>
                    <input type="hidden" th:value="${userToShow.id}" name="userToUpdateId">
                </div>
                <div>
                    <button type="submit">Edit user password</button>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="new" th:if="${userToUpdate != null}">
    <h2>Update user:</h2>
    <form th:action="@{/users/edit}"
          th:object="${userToUpdate}" th:method="patch">
        <span>
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" th:value="${userToUpdate.id}" th:field="*{id}" name="userToUpdateId">
            <input type="hidden" th:value="${userToUpdate.password}" th:field="*{password}" name="password">
        </span>
        <div>
            <label>Username</label>
            <label>
                <input type="text" th:field="*{username}">
                <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Error</div>
            </label>
        </div>
        <div>
            <label>First name</label>
            <label>
                <input type="text" th:field="*{firstName}">
                <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> Error</div>
            </label>
        </div>
        <div>
            <label>Last name</label>
            <label>
                <input type="text" th:field="*{lastName}">
                <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> Error</div>
            </label>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</div>

<div class="new" th:if="${userToUpdatePas != null}">
    <h2>Update password:</h2>
    <form th:action="@{/users/edit/p}"
          th:object="${userToUpdatePas}" th:method="patch">
        <div>
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" th:value="${userToUpdatePas.id}" th:field="*{id}" name="userToUpdatePas">
            <input type="hidden" th:value="${userToUpdatePas.username}" th:field="*{username}" name="username">
            <input type="hidden" th:value="${userToUpdatePas.firstName}" th:field="*{firstName}" name="firstName">
            <input type="hidden" th:value="${userToUpdatePas.lastName}" th:field="*{lastName}" name="lastName">
        </div>
        <div>
            <label>Password</label>
            <label>
                <input type="password" th:field="*{password}">
                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Error</div>
            </label>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</div>


<div class="center_button" sec:authorize="hasAnyAuthority('ADMIN')">
    <form th:action="@{/users/admin}" th:method="get">
        <div>
            <button type="submit">Open all users</button>
        </div>
    </form>
</div>

<div style="color: olivedrab" th:if="${updated}">
    User <span th:text="${updated}"></span> successfully updated
</div>

</body>
</html>