<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
</head>

<h1>Error</h1>

<!--<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">-->
<body>
<!--<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>-->
<!--<p th:utext="${httpStatus.name()}">Error java.lang.NullPointerException</p>-->
<p th:utext="${httpStatus}">Error java.lang.NullPointerException</p>

<div class="center_button">
    <form th:action="@{/}">
        <div>
            <button type="submit">Go Home Page</button>
        </div>
    </form>
</div>

<div class="center_button">
    <form th:onclick="history.go(-1)">
        <div>
            <button type="submit">Back</button>
        </div>
    </form>
</div>


<footer class="info">
    <p>Spring Boot Pizza Project
        <br>
    Created by <a href="https://github.com/julietatolm">Yulia Tolmacheva</a></p>
</footer>

</body>
</html>