<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

<h1>
    Welcome to Restaurant Web App
</h1>

<div class="container">
    <h3>Select the page:</h3>
    <a href="/restaurants">Restaurants</a>
    </br>
    <a href="/pizzas">Pizzas</a>
    </br>
    <a href="/users">Users</a>
    </br>
</div>


<footer class="info">
    <p>Spring Boot Pizza Project</p>
    <p>Created by <a href="https://github.com/julietatolm">Yulia Tolmacheva</a></p>
</footer>

</body>
</html>