<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
        .login_button {
            width: 151px;
            height: 47px;
            font-size: 20px;
            border: none;
            border-radius: 25px;
        }
    </style>
</head>
<body>

<header th:fragment="header">
    <div class="header__container">
        <div class="header__div">
            <div>
                <button class="home__button">
                    <a href="/">Home</a>
                </button>
            </div>
            <div>
                <button class="home__button">
                    <a href="/restaurants">Restaurants</a>
                </button>
            </div>
        </div>
        <div class="header__div">
            <div>
                <button class="home__button" sec:authorize="hasAuthority('ADMIN')">
                    <a href="/users/admin">Admin</a>
                </button>
            </div>
            <div>
                <button class="home__button">
                    <a href="/users">Account</a>
                </button>
            </div>
        </div>
    </div>
    </div>

</header>

<!--<nav th:fragment="navigation">-->
<!--    <a href="/">Home</a>-->
<!--    <a href="/restaurants">Restaurants</a>-->
<!--    <a href="/pizzas">Pizzas</a>-->
<!--    <a href="/users">User</a>-->
<!--</nav>-->

<div class="wrapper">
    <div class="login_form_wrapper">
        <h1 class="main_text">
            Pizza Web App
        </h1>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <div>
                    <button class="login_button" type="submit">Logout</button>
                </div>
            </form>
        </div>
        <div sec:authorize="isAnonymous()">
            <form th:action="@{/auth/login}" th:method="get">
                <div>
                    <button class="login_button" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>


<footer th:fragment="footer">
    <div>
        Spring Boot Pizza Project
        <br>
        Created by <a href="https://github.com/julietatolm">Yulia Tolmacheva</a>
    </div>
</footer>

</body>
</html>