<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>
    Welcome to Restaurant Web App
</h1>

<nav>
    <a href="/">Home</a>
    <a href="/restaurants">Restaurants</a>
    <a href="/pizzas">Pizzas</a>
    <a href="/users">Users</a>
</nav>


<footer class="info">
    <p>Spring Boot Pizza Project
        <br>
    Created by <a href="https://github.com/julietatolm">Yulia Tolmacheva</a></p>
</footer>

</body>
</html>